body {
  background-color: #000016;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  display: inline-block;
  padding: 10px;
  background-color: #000016;
  color: white;
  width: 100px;
  border: none;
  cursor: pointer;
}
input[type="range"] {
  -webkit-appearance: none; /* Removes default styles */
  appearance: none;
  width: 280px;
  height: 28px;
  background: transparent; /* Track color */
  border-radius: 4px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
  border: 1px solid #007bff;
  border-radius: 20px;
}

/* Track (Webkit Browsers - Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 8px;
  border-radius: 4px;
}

/* Thumb (Webkit Browsers) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; /* Align thumb with track */
  transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #b30000;
}
input[type="range"]::-moz-range-track {
  background: #ddd;
  height: 8px;
  border-radius: 4px;
}
